# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Hugging Face Cache
.cache/
huggingface/

# Python Build Files
build/
dist/
*.egg-info/

# Logs
*.log